<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
    <ul>
        {% for detail in single_hero %}
        <li> <h2> {{single_hero.name}}</h2></li>
        <li> <h2> {{single_hero.alter_ego}}</h2></li>
        <li> <h2> {{single_hero.primary_ability}}</h2></li>
        <li> <h2> {{single_hero.secondary_ability}}</h2></li>
        <li> <h2> {{single_hero.catch_phrase}}</h2></li>
        {% endfor %}
      
        <a href = "{% url 'superheroes:edit' single_hero.hero_id %}">Edit All Fields</a> 
        <a href = "{% url 'superheroes:delete' single_hero.hero_id %}">Delete All Fields</a></li>
        
        <a href = "{% url 'superheroes:detail' all_heroes.hero_id %}">See All Hero Details </a>
    </ul>
</body>
</html>