<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
    <ul>
        <li> <h2> {{hero.name}}</h2>
        <li> <h2> {{hero.alter_ego}}</h2>
        <li> <h2> {{hero.primary_ability}}</h2>
        <li> <h2> {{hero.secondary_ability}}</h2>
        <li> <h2> {{hero.catch_phrase}}</h2>
        <a href = "{% url 'superheroes:edit' hero_id %}">Edit</a> 
        <a href = "{% url 'superheroes:delete' hero_id %}">Delete</a></li>
        
    </ul>
</body>
</html>